a{
    color:grey;
    text-decoration: none;
    padding: 1%;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-image: url(https://i.pinimg.com/originals/e7/c3/2a/e7c32af39ea9cef9af48b7473e6ec2db.jpg);
    background-repeat:cover;
    font-family: Arial, Helvetica, sans-serif;
}

.logoNav nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 60%;
}

main p{
    font-size: 11px;
}

footer{
    display:grid;
    grid-template-columns:1fr;
    background-color: black;
    color: whitesmoke;
}

footer a{
    text-decoration: none;
    color: white;
}

footer li{
    list-style: none;
}

@media only screen and (min-width:780px) {
    .logoNav a{
        font-size: 18px;
    }

    .logoNav img{
        width: auto;
    }

    footer ul li img{
        width: 1.6%;
    }

    main p{
        font-size: 18px;
    }

}

/* TABLA DE TALLES */

@media only screen and (max-width:700px) {
    .remera{
        display: none;
    }

    .pantalon{
        display: none;
    }
}