footer{
    display:grid;
    grid-template-columns:1fr;
    background-color: black;
    color: whitesmoke;

    a{
        text-decoration: none;
        color: white;
    }

    li{
        list-style: none;
    }
}

@include mediaQ{
    footer ul li img{
        width: 1.6%;
    }
}