a{
    color:grey;
    text-decoration: none;
    padding: 1%;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-image: url(https://i.pinimg.com/originals/e7/c3/2a/e7c32af39ea9cef9af48b7473e6ec2db.jpg);
    background-repeat:cover;
    font-family: Arial, Helvetica, sans-serif;

    p{
        font-size: 11px;
    }
}


@media only screen and (min-width:780px) {
    main p{
        font-size: 18px;
    }

}