.logoNav nav{
    @extend %flexRow;
    width: 100%;
    align-items: center;
    font-size: 60%;
}

@include mediaQ{
    .logoNav a{
        font-size: 18px;
    }

    .logoNav img{
        width: auto;
    }
}

